* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    overflow: scroll;
}

#full-container {
    display: flex;
    height: 100%;
}

#lhs-container {
    width: 35vw;
    background: url(images/lisa-bresler-RE1U3B249eY-unsplash.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

#turtle-container {
    height: 125px;
    width: 35vw;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
 
    top: 30%;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#turtle {
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 20%;
}

#theturtle {
    color: white;
    left: 40%;
    position: absolute;
    font-size: 48px;
    text-align: center;
}

#image-thanks {
    position: absolute;
    bottom: 5%;
    color: white;

    text-align: center;
    text-shadow: 1px;
    background: rgba(0, 0, 0, 0.6);
}

#rhs-container {
    width: 65vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#description-container {
    margin-top: 100px;
    margin-right: 100px;
    padding: 20px;
}

.para {
    margin-bottom:30px;
}

.para,
.para-bot {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    margin: 10px;
    font-weight: 600;
}

.para-bot {
    margin-top: 50px;
}

form {
    padding: 20px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
}  

.input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: max(40%, 300px);
}


label {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

input {
    font-size: 16px;
    padding:5px;
    border: 2px solid lightgrey;
    border-radius: 3px;
    outline: none;
}

input:focus {
    border-color: blue;
}

#button-container {
    display: flex;
}

button {
    font-size: 22px;

    border: 3px solid black;
    border-radius: 10px;
    font-weight: 600;

    background-color: teal;
    color: white;
}
button:hover {
    background-color: white;
    color: teal;
}

.login-container {
    display: flex;
    margin-right: 100px;
    padding: 20px;
}

.login {
    font-weight: 600;
}

/* no quotes on hidden, however quotes are required in the JS script -_- */
#error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 600;
    visibility: hidden;
};